<!doctype html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Convert .doc to .pdf</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>

<body>
    <header>
        <h1 style="background-color:powderblue;" style="font-size:300%;"> WELCOME TO JENSEN PDF CONVERT SERVICE </h1>
        
        <h2>This service is created for students to covert their documents to PDF</h2>
    </header>
    <main>
        <p>Instruction: Click on the upload button and upload your file to be converted to pdf</p>
        <form method="post" enctype=multipart/form-data> 
            <label for="file">Upload your file</label>  
            <input type="file" name="file" id="file">
            <input type="submit" value="Upload">
        </form>
        <br>
        
    </main>

</body>
